header{
    background: green;
}
h3 > span{
    color: #fff;
}
header img{
    width: 36px;
}
header h3{
    align-items: center;
}
.navbar{
    background: green;
}
.nav-link .active {
    background-color: #581316;
}